/NetBeans_Project/collaborative-mapping/nbproject/private/
/NetBeans_Project/collaborative-mapping/build/
/NetBeans_Project/collaborative-mapping/dist/
/NetBeans_Project/collaborative-mapping-web/nbproject/private/
/NetBeans_Project/collaborative-mapping-web/build/
/NetBeans_Project/collaborative-mapping-web/dist/
NetBeans_Project/files/ontologies/catalog-v001.xml