

form#exemplo a b, 
form#exemplo a span {
	position:absolute;
	left:-10000px;
	}

form#exemplo a:hover b, 
form#exemplo a:focus b {
	position:absolute; 
	top:-10px;
	left:370px;
	}
form#exemplo a:hover span, 
form#exemplo a:focus span {
	background:url(resources/seta.gif) no-repeat;
	display:block;
	position:absolute; 
	top:-5px;
	left:361px;
	width:15px;
	height:22px;
	}